@import url(12bool.css);
@import url(12bool-responsive.css);

/* ------------
    HEADER
------------ */
header{
    background-color: #171a21;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    padding: .625rem;
}

/* ------------
    MAIN
------------ */
.color-1{
    background-color: aquamarine;
    padding: 1.25rem .625rem;
}
.color-2{
    background-color: red;
    padding: 1.25rem 0;
}
.color-3{
    background-color: aqua;
    padding: 1.25rem 0;
}
/* ------------
    PADDING
------------ */
.p-top-200{
    padding-top: 12.5rem;
}

